# Infrastructure
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_STAGING_DB=
POSTGRES_PRODUCTION_DB=

# Caddy (Reverse Proxy)
STAGING_DOMAIN=simpk-staging.notthebee.web.id
PRODUCTION_DOMAIN=simpk.notthebee.web.id
STORAGE_DOMAIN=storage.notthebee.web.id


# Garage RPC & Admin
GARAGE_RPC_SECRET=
GARAGE_ADMIN_TOKEN=

GRAFANA_CLOUD_URL=https://prometheus-xxxx.grafana.net/api/prom/push
GRAFANA_CLOUD_USER=123456
GRAFANA_CLOUD_TOKEN=glc_eyxxxxxxxxx

LOKI_URL=
LOKI_USERNAME=
LOKI_PASSWORD=
ALLOY_ENV=staging