# Infrastructure
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_STAGING_DB=
POSTGRES_PRODUCTION_DB=

# Caddy (Reverse Proxy)
STAGING_DOMAIN=simpk-staging.notthebee.web.id
PRODUCTION_DOMAIN=simpk.notthebee.web.id
STORAGE_DOMAIN=storage.notthebee.web.id

# Caddy Sparky Fitness
SPARKY_FRONTEND_DOMAIN=sparky.notthebee.web.id

# Garage RPC & Admin
GARAGE_RPC_SECRET=
GARAGE_ADMIN_TOKEN=